body {
    background-color: #34e5eb;
}

button {
    background-color: #178a51;
    border-radius: 50px;
    text-align: center;
}

button:hover {
    background-color:#34eb89;
}

.banner {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.banner img {
    max-width: 100%;
    height: auto;
    flex: 1 1 200px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
}

#days-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.weekday {
    border: 1px solid #000000;
    padding: 10px;
    width: 25%;
    background-color: #fcba03;
    color: #000000;
    border-radius: 20px;
}

.personal-info {
    width: 30%;
    padding: 15px;
    background-color: #34eb89;
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: center;
}

button {
    display: block;
    margin: 10px auto 0;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #178a51;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #34eb89;
}

.meal-plan {
    max-width: 600px;
    margin: 0 auto;
    background-color: #34eb89;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
}

@media print {
    button {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    #days-container, .personal-info {
        width: 90%;
    }
}